@import url("https://fonts.googleapis.com/css?family=Lato:400,900&display=swap");

@keyframes spinLogo {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-color: #264698;
  --secondary-color: #a8377a;
  --violet: #5c338c;
  --line-color: rgb(218, 218, 218);
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

header {
  background-image: url("../assets/photo-1558403194-611308249627.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  /* z-index: -1; */
}

header:before {
  width: 100%;
  height: 100vh;
  content: "";
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

header .container {
  height: 100%;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

p {
  margin: 0;
}

.more-btn {
  color: var(--primary-color);
  margin: 0 auto;
  display: block;
}

.more-btn:hover {
  text-decoration: none;
}

.more-btn img {
  transition: 0.3s all ease-in-out;
}

.more-btn:hover img {
  transform: translateX(5px);
}

.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.language>button {
  color: #fff;
}

.language>button:hover,
.language>button:focus,
.language>button:active {
  color: #fff;
  text-decoration: none;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
}

.pace {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 400px;
  height: 3px;
  border-radius: 40px;
  background-color: var(--primary-color);
  /* background: linear-gradient(); */
}

.pace .pace-progress {
  box-sizing: border-box;
  max-width: 400px;
  transform: translate3d(0, 0, 0);
}

.logo,
.email,
.hero-section img {
  opacity: 0;
}

.top-nav,
.hero-section {
  position: relative;
  z-index: 2;
}

.hero-section {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section img {
  /* animation: spinLogo 30s linear 3.4s infinite; */
  position: absolute;
  left: 30%;
  right: 0;
  width: 40%;
  min-width: 200px;
}

.hero-section p {
  animation: none;
  position: relative;
  z-index: 2;
  overflow: hidden;
  /* height: 60px; */
}

.hero-section p .hidetext {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(100%);
}

.hero-section p:nth-child(2) {
  font-weight: bold;
  font-size: 3rem;
  height: 70px;
}

.hero-section p:nth-child(3) {
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
  height: 50px;
}

.hero-section p:nth-child(4) {
  height: 60px;
  font-weight: bold;
  font-size: 2.5rem;
}

.top-nav {
  padding-top: 33px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}

/* CARDS */

.cards {
  transform: translateY(-100px);
  margin-bottom: -50px;
}

.card {
  padding: 32px 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: 0.3s all ease-out;
  opacity: 0;
}

.card:hover {
  transform: translateY(-20px) !important;
  box-shadow: 10px 10px 32px rgba(0, 0, 0, 0.1);
}

.card-line {
  width: 4rem;
  height: 2px;
  background-color: var(--secondary-color);
}

.card-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  justify-self: flex-start;
  font-weight: bold;
  color: var(--violet);
  margin: 0;
}

.card-desc {
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #7b7b7b;
}

/* ABOUT */

.about {
  border-bottom: 1px solid var(--line-color);
  padding: 4rem 0;
}

/* REVIEWS */

.reviews {
  text-align: center;
  padding: 4rem 0;
}

.review-item>.review-line {
  width: 30%;
}

.reviews-title {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: var(--primary-color);
}

.reviews-subtitle {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: var(--secondary-color);
}

.review-line {
  color: var(--line-color);
  width: 12rem;
}

.review-desc {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
  font-style: italic;
  padding: 4rem 0;
  width: 70%;
  margin: 0 auto;
}

.review-author {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.review-author__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.review-author__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.review-author__name {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: var(--primary-color);
  margin-left: 20px;
}

/* INFO SECTION */

.info {
  padding: 4rem 0;
  border-top: 1px solid var(--line-color);
}

.info-item {
  display: flex;
  align-items: center;
  text-align: center;
}

.info-item__txt {
  margin-left: 1.5rem;
  font-size: 1.125rem;
  line-height: 23px;
  letter-spacing: -0.01em;
  color: var(--primary-color);
}

/* CONTACT */

.contact {
  padding: 4rem 0;
  background-image: url("../assets/photo-1561670653-9fb4207e997d.png");
  background-size: cover;
  background-position-y: bottom;
  position: relative;
}

.contact:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
  height: 100%;
  opacity: 0.9;
}

.contact h1 {
  color: var(--primary-color);
}

/* FOOTER */

footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 40px 0;
}

footer>div {
  display: flex;
  justify-content: space-between;
}

footer a {
  color: #fff;
}

footer a:hover,
footer a:focus,
footer a:active {
  text-decoration: none;
  color: #fff;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
}

/* SWIPER */
.swiper-button-next,
.swiper-button-prev {
  color: var(--secondary-color);
}

/* PORTFOLIO */

.portfolio {
  padding: 48px 0;
  border-bottom: 1px solid var(--line-color);
}

.portfolio .tab-nav {
  margin-top: 24px;
  margin-bottom: 32px;
}

.portfolio .tab-nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio .tab-nav ul li {
  color: #A5ABBC;
  padding: 12px 8px;
  text-align: center;
  font-size: 16px;
  margin: 0 12px;
  line-height: 17px;
}

.portfolio .tab-nav ul li:not(:last-child) {
  /* margin-bottom: 12px; */
}

.portfolio .tab-nav ul li:hover {
  cursor: pointer;
  color: #2534b6;
}

.portfolio .tab-nav ul .active {
  cursor: pointer;
  color: #2534b6;
  transition: 0.1s transform ease-in-out;
  border-bottom: 2px solid var(--primary-color);
}

.portfolio .headline {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  color: var(--primary-color);
}

.tab-item {
  /* transform: translateY(40px); */
  /* opacity: 0; */
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 48px;
}

.tab-item .tab-item-route {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 17px;
  color: #929292;
}

.tab-item-info {
  padding: 16px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.tab-item-info:last-child {
  align-self: center;
}

.tab-item .tab-item-title {
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--primary-color);
}

.tab-item .tab-item-img {
  height: 200px;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #eeeeee;
}

.tab-item .tab-item-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: center;
}

.tab-item-additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.tab-item-duration {
  color: var(--primary-color);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.tab-item-duration img {
  margin-right: 8px;
}

.tab-item-price {
  font-size: 14px;
  font-weight: bold;
  color: var(--secondary-color);
}

.portfolio .tab-item .tab-item-desc {
  font-size: 14px;
  line-height: 17px;
  color: #8f8f8f;
}

.flag {
  width: 24px;
  height: auto;
  margin-right: 6px;
}

.lang-icon {
  width: 18px;
}

#main-lang {
  padding-left: 4px;
}

.dropdown-item {
  padding: .6rem 1rem;
}

.dropdown-toggle:after {
  display: none;
}

.modal-backdrop {
  /* background: linear-gradient(90deg, #5C338C 0%, #A8377A 105.83%); */
  mix-blend-mode: multiply;
  opacity: 0.5;
}

.modal {
  box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.modal-header {
  background-position: center;
  background-size: contain;

  color: #fff;
  position: relative;
  z-index: 1;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-header:after {
  background: linear-gradient(90deg, #5C338C 0%, #A8377A 105.83%);

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  content: '';
  opacity: 0.5;
  position: absolute;
}

.modal-header h1 {
  position: relative;
  z-index: 3;
}

.modal-content {
  position: relative;
  border: 0;
}

.close {
  position: absolute;
  right: -24px;
  color: #fff;
  opacity: 1;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid var(--line-color);
}

.dropdown-item:hover {
  border-radius: 4px;
  background-color: #eee;
}

.dropdown-menu {
  border: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.dropdown-item:active {
  background: linear-gradient(90deg, #5C338C 0%, #A8377A 105.83%);
}

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 80% !important;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    margin-top: 10vh;
  }

  .tab-nav ul li {
    margin-bottom: 12px !important;
  }

  .hero-section img {
    left: 25%;
  }

  .hero-section p:nth-child(3) {
    height: 100px;
  }

  .cards {
    transform: translateY(0);
  }

  .card {
    margin-top: 20px;
    height: 95%;
  }

  .logo2 img {
    width: 100%;
    margin-bottom: 24px;
  }

  .about .col {
    flex-basis: unset;
  }

  .info-item {
    margin-bottom: 24px;
    text-align: left;
  }

  .contact h1 {
    text-align: left;
    margin-bottom: 24px;
  }

  .tab-nav ul li {
    padding: 12px 16px !important;
    margin: 0 12px 12px 0 !important;
  }

  .about {
    padding: 6rem 0 2rem 0;
  }

  .reviews,
  .portfolio {
    padding: 2rem 0;
  }

  .review-desc {
    padding: 2rem 0;
  }

  .review-author {
    padding: 1rem 0;
  }

  .review-author__img {
    width: 50px;
    height: 50px;
  }

  .review-author__name {
    font-size: 16px;
  }

  footer>div {
    flex-direction: column;
  }

  .close {
    right: 12px;
    top: 8px;
    z-index: 4;
  }

  .modal-body {
    padding: 2rem 2rem !important;
  }

  .modal .custom-form {
    width: 100% !important;
  }

  .modal .custom-form .row {
    margin-right: 0;
    margin-left: 0;
  }

  .modal-body__conditions {
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 2rem !important;
  }
}